* {
    margin: 0;
    padding: 0;
    background-color: #f5f6f7;
}
.header {
    text-align: center;
    padding-top: 32px;
}
.menu-top {
    display: inline-block;
}
.header-link {
    color: #16a085;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 30px;
    margin-right: 30px;
}
.menu-icon {
    width: 100%;
    height: 790px;
    background-image: url(../img/top-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 35px;
}
.title {
    text-align: center;
    font-family: Roboto;
    color:  #373737;
    font-size: 22px;
    font-weight: 900;
    margin-top: 56px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.product-link {
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 34px;
    text-align: center;
    font-family: Roboto;
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
}
.button {
    border-radius: 3px;
    background-color:  #16a085;
    width: 192px;
    height: 51px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 41px;
    margin-bottom: 110px;
}
.button-icon {
    background-color:  #16a085;
    text-transform: uppercase;
    color: white;
    margin-top: 15px;
    border-width: 0px;
}
.button-menu {
    text-align: right;
    font-family: Roboto;
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    line-height: 108px;
}
.button-link {
    background-color: white;
    padding-right: 104px;
}